body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #222;
}

.top-bar {
  height: 20px;
  background-color: #000;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

header {
  background: linear-gradient(135deg, #333, #111);
  color: #fff;
  text-align: center;
  padding: 20px 20px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
}

header h1 {
  text-align: center;
  margin: 0;
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  animation: glow 1.5s infinite alternate;
}

header h1 span {
  background-color: rgb(255, 140, 0);
  color: #000000;
  border-radius: 8px;
  padding: 0 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  display: inline-block;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
  position: relative;
  font-size: 1.2rem;
}

nav ul li a:hover {
  color: #ff8c00;
  transform: scale(1.1);
}

nav ul li a:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ff8c00;
  left: 0;
  bottom: -5px;
}

.content {
  padding: 80px;
  max-width: 800px;
  margin: 25px auto;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.content::before {
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  background: linear-gradient(135deg, rgba(255, 140, 0, 0.7), rgba(255, 140, 0, 0));
  border-radius: 20px;
  z-index: -1;
}

.content h2 {
  color: #fefefe;
  margin-top: 0;
  padding-left: 20px;
      text-shadow: 0 0 10px #ff8c00, 0 0 20px #ff8c00, 0 0 30px #ff8c00, 0 0 40px #ff8c00, 0 0 50px #ff8c00, 0 0 60px #ff8c00, 0 0 70px #ff8c00;
      text-shadow: 0 0 20px #ff8c00, 0 0 30px #ff8c00, 0 0 40px #ff8c00, 0 0 50px #ff8c00, 0 0 60px #ff8c00, 0 0 70px #ff8c00, 0 0 80px #ff8c00;
  }

p {
  color: #b4b4b4;
  line-height: 1.8;
  padding-left: 20px;
  text-indent: 50px
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

footer {
  text-align: center;
  padding: 4px;
  background: linear-gradient(135deg, #333, #111);
  color: #ffffff;
  position: fixed;
  width: 100%;
  bottom: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

img:hover {
  transform: scale(1.05);
}